#chart {
  position: absolute;
  top:20%;
  left: 60%;
  height: 80%;
  width: 40%;
}

text {
  font: 10px sans-serif;
}

input {
  margin: 0 7px;
}

#text {
  position: absolute;
  left: 60%;
  height: 20%;
  width: 40%;
  padding: 20px;
}

#radioButtons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1;
}